.menu-item {
    -fx-font-size: 18px;
    -fx-text-fill: #ffffff;
    -fx-opacity: 0.5;
    -fx-border-color: transparent transparent #ffffff transparent;
    -fx-border-width: 0 0 1px 0;
}

.menu-item:hover {
    -fx-opacity: 1.0;
    -fx-cursor: hand;
}